@import "tailwindcss";
@import "tw-animate-css";


body::-webkit-scrollbar {
  display:none
  
}
p{
  
}
body {
  background-color: black;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.Bluebg{
  background-color: #060616 ;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}