/* .gradient1{
    background: linear-gradient(180deg, rgba(12, 12, 43, 1) 50%, rgb(0, 0, 0) 75%);
} */
.gradient2{
    background: radial-gradient(50% 70% at 50% 80%, rgb(0, 132, 255) 20%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, #000 100%, transparent 100%);
    mask-image: linear-gradient(to bottom, #000 40%, transparent 75%);
}
.introBg {
    /* Linear mask from top (visible) to bottom (transparent) */
    -webkit-mask-image: linear-gradient(to bottom, #000 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, #000 50%, transparent 100%);
}
/* .gradient2 {
  background: radial-gradient(ellipse at center, rgba(0, 162, 255, 0.747), transparent 70%);
  pointer-events: none;
} */
